{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Add Contact</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'phonebook_django/css/forms.css'%}">
    </head>
    <body>
        <section>
            <form method="post">
                <h1>Modifier le contact </h1>
                {% csrf_token %}
                {{ form }}
                <div>
                    <input class="add" type="submit" value="Enregistrer">
                </div>
            </form>
        </section>
        
    </body>
</html>