<!DOCTYPE html>
<html>
    <head>
        <title>Carte de menu</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/carte.css">
        <link rel="stylesheet" href="../fontawesome-free-6.7.2-web/css/all.css">
    </head>
    <body>
        <div class="menu">
            <div class="carte">
                <div class="image">
                    <img src="../Images/assortment-pieces-cake.png" alt="">
                </div>
                <div class="details">
                    <h2>Nom du menu</h2>
                    <p>Lorem ipsum dolor sit 
                    amet consectetur adipisicing.</p>
                </div>
                <div class="price">
                    <span>$56</span>
                </div>
            </div>
            <div class="message">
                <i class="fas fa-cog"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="menu">
            <div class="carte">
                <div class="image">
                    <img src="../Images/assortment-pieces-cake.png" alt="">
                </div>
                <div class="details">
                    <h2>Nom du menu</h2>
                    <p>Lorem ipsum dolor sit 
                    amet consectetur adipisicing.</p>
                </div>
                <div class="price">
                    <span>$56</span>
                </div>
            </div>
            <div class="message">
                <i class="fas fa-cog"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="menu">
            <div class="carte">
                <div class="image">
                    <img src="../Images/assortment-pieces-cake.png" alt="">
                </div>
                <div class="details">
                    <h2>Nom du menu</h2>
                    <p>Lorem ipsum dolor sit 
                    amet consectetur adipisicing.</p>
                </div>
                <div class="price">
                    <span>$56</span>
                </div>
            </div>
            <div class="message">
                <i class="fas fa-cog"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="menu">
            <div class="carte">
                <div class="image">
                    <img src="../Images/assortment-pieces-cake.png" alt="">
                </div>
                <div class="details">
                    <h2>Nom du menu</h2>
                    <p>Lorem ipsum dolor sit 
                    amet consectetur adipisicing.</p>
                </div>
                <div class="price">
                    <span>$56</span>
                </div>
            </div>
            <div class="message">
                <i class="fas fa-cog"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="menu">
            <div class="carte">
                <div class="image">
                    <img src="../Images/assortment-pieces-cake.png" alt="">
                </div>
                <div class="details">
                    <h2>Nom du menu</h2>
                    <p>Lorem ipsum dolor sit 
                    amet consectetur adipisicing.</p>
                </div>
                <div class="price">
                    <span>$56</span>
                </div>
            </div>
            <div class="message">
                <i class="fas fa-cog"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
    </body>
</html>