<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../fontawesome-free-6.7.2-web/css/all.css">
        <link rel="stylesheet" href="../CSS/sharedDb.css">
        <link rel="stylesheet" href="../CSS/Dash.css">
    </head>
    <body>
        <div class="sidebar">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="">
                        <span class="sidebar-icon"><i></i></span>
                        <span class="title">El Profesor Foods</span></a>
                    </li>
                    <li class="on">
                        <a href="#">
                        <span class="sidebar-icon"><i class="fas fa-home"></i></span>
                        <span class="title">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="graphics.html">
                        <span  class="sidebar-icon"><i class="fas fa-chart-line"></i></span>
                        <span class="title">Graphics</span></a>
                    </li>
                    <li>
                        <a href="orders.html">
                        <span class="sidebar-icon"><i class="fas fa-clipboard-list"></i></span>
                        <span class="title">Orders</span></a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="sidebar-icon"><i class="fas fa-users"></i></span>
                        <span class="title">Customers</span></a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="sidebar-icon"><i class="fas fa-info-circle"></i></span>
                        <span class="title">Help</span></a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="sidebar-icon"><i class="fas fa-cog"></i></span>
                        <span class="title">Settings</span></a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="topbar">
                    <div class="toggle">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="search">
                        <label>
                            <input type="text" placeholder="search here">
                            <i class="fas fa-search"></i>
                        </label>
                    </div>
                    <div class="user">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="details">
                    <div class="favourite">
                        <div class="entete">
                            <div class="fav_head">
                                <h5>Most favourites menus</h5>
                                <p>Lorem ipsum dolor sit</p>
                            </div>
                            <ul id="list">
                                <li><a class="link_active" href="">All categories</a></li>
                                <li><a href="">Entrees</a></li>
                                <li><a href="">Plats</a></li>
                                <li><a href="">Desserts</a></li>
                            </ul>
                        </div>
                        <div class="plats">
                            <div>
                                <img src="../Images/kati_kati.jpg" alt="">
                                <div class="info">
                                    <p class="name_plat">Kati Kati</p>
                                    <p class="sales">Total Sales : $3500</p>
                                </div>
                            </div>
                            <div>
                                <img src="../Images/assortment-pieces-cake.png" alt="">
                                <div class="info">
                                    <p class="name_plat">Gateaux à la crème</p>
                                    <p class="sales">Total Sales : $3500</p>
                                </div>
                            </div>
                            <div>
                                <img src="../Images/poulet_DG.jpg" alt="">
                                <div class="info">
                                    <p class="name_plat">Poulet DG</p>
                                    <p class="sales">Total Sales : $3500</p>
                                </div>
                            </div>
                            <div>
                                <img src="../Images/glass-fresh-fruit-juice.jpg" alt="">
                                <div class="info">
                                    <p class="name_plat">Jus de fruits</p>
                                    <p class="sales">Total Sales : $3500</p>
                                </div>
                            </div>
                            <div>
                                <img src="../Images/sweet-ice-cream-cone-with-strawberry-generative-ai.jpg" alt="">
                                <div class="info">
                                    <p class="name_plat">Crème glacée</p>
                                    <p class="sales">Total Sales : $3500</p>
                                </div>
                            </div>
                            <div>
                                <img src="../Images/pommes sautées.jpg" alt="">
                                <div class="info">
                                    <p class="name_plat">Pommes sautées</p>
                                    <p class="sales">Total Sales : $3200</p>
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <div class="most-sales">
                        <div class="sales-header">
                            <h6>Most selling items</h6>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <ul id="links-period">
                            <li><a href="" class="active_period">Monthly</a></li>
                            <li><a href="">Weekly</a></li>
                            <li><a href="">Today</a></li>
                        </ul>
                        <div class="articles">
                            <div class="article">
                                <div class="art-details">
                                    <img src="../Images/poulet_DG.jpg" alt="">
                                    <div class="name">
                                        <h5>Poulet DG</h5>
                                        <p>500 commands</p>
                                    </div>
                                </div>
                                <div class="price">
                                    <p>$12000</p>
                                </div>
                            </div>
                            <div class="article">
                                <div class="art-details">
                                    <img src="../Images/kati_kati.jpg" alt="">
                                    <div class="name">
                                        <h5>kati kati</h5>
                                        <p>430 commands</p>
                                    </div>
                                </div>
                                <div class="price">
                                    <p>$11500</p>
                                </div>
                            </div>
                            <div class="article">
                                <div class="art-details">
                                    <img src="../Images/kontchap.jpg" alt="">
                                    <div class="name">
                                        <h5>Poulet DG</h5>
                                        <p>418 commands</p>
                                    </div>
                                </div>
                                <div class="price">
                                    <p>$10750</p>
                                </div>
                            </div>
                            <div class="article">
                                <div class="art-details">
                                    <img src="../Images/Les plats Camerounais les plus populaires.jpg" alt="">
                                    <div class="name">
                                        <h5>koki</h5>
                                        <p>410 commands</p>
                                    </div>
                                </div>
                                <div class="price">
                                    <p>$9800</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="../JAVASCRIPT/dashessai.js"></script>
        <script src="../JAVASCRIPT/chart.js"></script>
        <script src="../JAVASCRIPT/my_chart.js"></script>
    </body>
</html>