<!DOCTYPE html>
<html>
    <head>
        <title>Defilement</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/defilement.css">
    </head>
    <body>
        <div class="slider">
            <div class="images">
                <input type="radio" name="slide" id="img1" checked>
                <input type="radio" name="slide" id="img2">
                <input type="radio" name="slide" id="img3">
                <input type="radio" name="slide" id="img4">
                <img class="m1" src="../Images/appetizing-healthy-rice-with-vegetables-white-plate-wooden-table.jpg" alt="">
                <img class="m2" src="../Images/CR7.jpg" alt="">
                <img class="m3" src="../Images/Biscuits.jpg" alt="">
                <img class="m4" src="../Images/spaghetti-with-tomato-olives.jpg" alt="">
            </div>
            <div class="dots">
                <label for="img1"></label>
                <label for="img2"></label>
                <label for="img3"></label>
                <label for="img4"></label>
            </div>
        </div>
    </body>
</html>