<!DOCTYPE html>
<html>
    <head>
        <title>Inside my account</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/insideacc.css">
        <link rel="stylesheet" href="../CSS/shared.css">
    </head>
    <body>
        <header class="main_header">
            <nav class="main_nav">
                <div class="logo">
                    <p>
                        El Profesor Foods
                    </p>
                </div>
                <ul id="main_nav_elements">
                    <li><a href="accueil.html">Accueil</a></li>
                    <li ><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Réservation</a></li>
                    <li><a href="account.html">Créer un compte</a></li>
                    <li><a class="active_link" href="signin.html">Votre compte</a></li>
                    <li><a href="HTML/dashboard.html">Dashboard</a></li>
                </ul>
                <button class="menu-button">   
                </button>
            </nav>
        </header>
        <section class="bar">
            <div class="nav">
                
            </div>
        </section>
    </body>
</html>