<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../fontawesome-free-6.7.2-web/css/all.css">
        <link rel="stylesheet" href="../CSS/menu2.css">
        <link rel="stylesheet" href="../CSS/shared.css">
    </head>
    <body>
        <header class="main_header">
            <nav class="main_nav">
                <div class="logo">
                    <p>
                        El Profesor Foods
                    </p>
                </div>
                <ul id="main_nav_elements">
                    <li><a href="../accueil.html">Accueil</a></li>
                    <li><a a class="active_link" href="#">Menu</a></li>
                    <li><a href="reservation.html">Réservation</a></li>
                    <li><a href="account.html">Créer un compte</a></li>
                    <li><a href="signin.html">Votre compte</a></li>
                    <li><a href="signin.html">Dashboard</a></li>
                </ul>
                <button class="menu-button">   
                </button>
            </nav>
        </header>
        <section class="slogan-section">
            <img src="../Images/cartemenu.jpg" alt="icone de carte de menu">
            <p class="name">El Profesor Foods</p>
        </section>
        <h1>LES ENTREES</h1>
        <section class="menu-entrees">
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/mixed-salad-with-avocado-tomatoes-sweet-corn.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Purée d'avocats</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>500F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/salade_chou.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Salade de chou</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>500F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/macedoine.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Macedoine</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>700F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/hors_oeuvre.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Hors d'oeuvre</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>700F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </section>
        <h1>PLATS DE RESISTANCE</h1>
        <section class="menu-plats">
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/spaghetti-with-tomato-olives.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Spaghetti sautés</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/ndole.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Ndolè</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/mbongo_plantain_vapeur.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Mbongo</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/fried chicken.png" alt="">
                    </div>
                    <div class="details">
                        <h2>Poulet frit</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/pommes sautées.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Pommes sautées</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1800F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/kontchap.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Kontchap</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1500F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/poulet_DG.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Poulet DG</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>3000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/kati_kati.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Kati  kati</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/stock-photo-eru-with-water-fufu-restaurant-in-yaounde-town-cameroon-2503127391.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Water Fufu and eru</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2500F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/front-view-cooked-rice-with-fresh-sliced-vegetables-inside-white-plate-white-floor.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Riz sauté</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/Okok-800x445.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Okok</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2500F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/Les plats Camerounais les plus populaires.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Koki</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>2000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </section>
        <h1>DESSERTS</h1>
        <section class="menu-entrees">
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/assortment-pieces-cake.png" alt="">
                    </div>
                    <div class="details">
                        <h2>Gateaux à la crème</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/pancakes-with-chocolate-jam-berries-tasty-breakfast.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Pancakes</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>300F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/pancakes-with-chocolate-syrup-plums.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Crèpes</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>300F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/Milshake.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Milkshake</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1500F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/glass-fresh-fruit-juice.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Jus de fruits</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/gelée.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Gelée</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/Tarte.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Tarte</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="menu">
                <div class="carte">
                    <div class="image">
                        <img src="../Images/sweet-ice-cream-cone-with-strawberry-generative-ai.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Crème glacée</h2>
                        <p>Lorem ipsum dolor sit 
                        amet consectetur adipisicing.</p>
                    </div>
                    <div class="price">
                        <span>1000F CFA</span>
                    </div>
                </div>
                <div class="message">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                             <h4>Company</h4>
                             <ul>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">our services</a></li>
                                <li><a href="#">privacy policy</a></li>
                             </ul>
                        </div>
                       <div class="footer-col">
                             <h4>contact us</h4>
                             <p>Email:guyeinstein15@gmail.com</p>
                             <p>Téléphone : +237 670656617/ +237 620886579</p>
                             <p>Adresse: PK17,Douala</p>
                             <ul>
                                <li><a href="#"></a></li>
                             </ul>
                        </div>
                        <div class="footer-col">
                            <h4>follow us </h4>
                            <div class="social_links">
                               <div><a class="link" href="#"><img src="../Images/facebook.png" alt=""></a></div>
                               <div><a class="link" href="#"><img src="../Images/linkedin.png" alt=""></a></div>
                               <div><a class="link" href="#"><img src="../Images/whatsapp.png" alt=""></a></div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="bottom-bar">&copy 2024  El Profesor Repetition All rights reserved</div>
        </footer>
    </body>
</html>