<!DOCTYPE html>
<html>
    <head>
        <title>Carte de menu</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/shared.css">
        <link rel="stylesheet" href="../CSS/menu.css">
    </head>
    <body>
        <header class="main_header">
            <nav class="main_nav">
                <div class="logo">
                    <p>
                        El Profesor Foods
                    </p>
                </div>
                <ul id="main_nav_elements">
                    <li><a href="../accueil.html">Accueil</a></li>
                    <li><a a class="active_link" href="#">Menu</a></li>
                    <li><a href="reservation.html">Réservation</a></li>
                    <li><a href="account.html">Créer un compte</a></li>
                    <li><a href="signin.html">Votre compte</a></li>
                    <li><a href="signin.html">Dashboard</a></li>
                </ul>
                <button class="menu-button">   
                </button>
            </nav>
        </header>
        <section class="slogan-section">
            <img src="../Images/cartemenu.jpg" alt="icone de carte de menu">
            <p class="name">El Profesor Foods</p>
        </section>
        <section class="menu-entrees">
            <h1>1. LES ENTREES</h1>
            <ul>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/salade_chou.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Hors d'oeuvre</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/mixed-salad-with-avocado-tomatoes-sweet-corn.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Salade d'avocats</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/macedoine.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Salade d'avocats</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="menu-entrees">
            <h1>2. LES PLATS DE RESISTANCE</h1>
            <ul>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/spaghetti-with-tomato-olives.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Sphaghettis sautés</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2000 FCFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/ndole.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Ndolè</p>
                            </p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/mbongo_plantain_vapeur.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Mbongo Tchobi</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/Les plats Camerounais les plus populaires.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Koki plantain</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/kontchap.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">corn tchap</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1700F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/kati_kati.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">kati kati</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/front-view-cooked-rice-with-fresh-sliced-vegetables-inside-white-plate-white-floor.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">rizotto</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/poulet_DG.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Poulet DG</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>3000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/fried chicken.png" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Poulet fris</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/stock-photo-eru-with-water-fufu-restaurant-in-yaounde-town-cameroon-2503127391.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Water Fufu and Eru</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/Okok-800x445.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Okok</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>2500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/pommes sautées.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Pommes sautées</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1800F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="menu-entrees">
            <h1>3. LES DESSERTS</h1>
            <ul>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/banana-cupcakes-mixed-with-chocolate-chip-white-plate.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Cupcakes</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>700F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/mixed-fruit-white-plate.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Dessert de fruits</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/flat-lay-waffles-with-strawberries-wooden-surface.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Gaufres</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/assortment-pieces-cake.png" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Gateaux à la crème</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>700F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/pancakes-with-chocolate-jam-berries-tasty-breakfast.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">pancakes</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/pancakes-with-chocolate-syrup-plums.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Crèpes</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>250F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/sweet-ice-cream-cone-with-strawberry-generative-ai.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Crème glacée</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/Milshake.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Milkshake</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1250F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/Tarte.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Tarte</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1250F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="menu-entrees">
            <h1>4. LES AMUSES GUEULES</h1>
            <ul>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/caramel.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Caramels</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/Biscuits.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Biscuits</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/various-breakfast-cereals-top-view.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Croquettes</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="menu-entrees">
            <h1>5. les boissons</h1>
            <ul>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/rum-cola-refreshing-alcohol-cocktail-drink-highball-glass-with-orange-ice.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Coca Cola</p>
                            </p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/glass-fresh-fruit-juice.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Jus de fruits</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>800F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/glasses-with-cold-whiskey.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Whisky</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1200F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/pouring-glass-red-wine.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Vin rouge</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>3000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/delicious-american-beer-assortment.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Bière</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>1500F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-element">
                    <div class="menu-image">
                        <img src="../Images/glass-sparkling-wine.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="informations">
                            <p class="menu-name">Vin blanc</p>
                        </div>
                        <div class="price-options">
                            <div class="price">
                                <p>3000F CFA</p>
                            </div>
                            <div class="options">
                                <button class="add">
                                    <a href="insideacc.html">Ajouter au panier</a>
                                </button>
                                <button class="details-button">
                                    <a href="#">Details</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                             <h4>Company</h4>
                             <ul>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">our services</a></li>
                                <li><a href="#">privacy policy</a></li>
                             </ul>
                        </div>
                       <div class="footer-col">
                             <h4>contact us</h4>
                             <p>Email:guyeinstein15@gmail.com</p>
                             <p>Téléphone : +237 670656617/ +237 620886579</p>
                             <p>Adresse: PK17,Douala</p>
                             <ul>
                                <li><a href="#"></a></li>
                             </ul>
                        </div>
                        <div class="footer-col">
                            <h4>follow us </h4>
                            <div class="social_links">
                               <div><a class="link" href="#"><img src="../Images/facebook.png" alt=""></a></div>
                               <div><a class="link" href="#"><img src="../Images/linkedin.png" alt=""></a></div>
                               <div><a class="link" href="#"><img src="../Images/whatsapp.png" alt=""></a></div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="bottom-bar">&copy 2024  El Profesor Repetition All rights reserved</div>
        </footer>
        <script src="../JAVASCRIPT/menu.js"></script>
    </body>
</html>