<!DOCTYPE html>
<html>
    <head>
        <title>Sign in</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/signin.css">
    </head>
    <body>
        <section class="body">
            <section class="container">
                <div class="title">LOGIN</div>
                <form action="#">
                    <div class="user-info">
                        <div class="user-details">
                            <span class="details">UserName <em>*</em></span>
                            <input type="text" placeholder="Enter your Username" required>
                        </div>
                        <div class="user-details">
                            <span class="details">Password <em>*</em></span>
                            <input type="password" placeholder="Enter your password" required>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Login">
                    </div>
                    <div class="create-account">
                        <p>Don't have an account? <em><a class="link" href="account.html">Create your account</a></em></p>
                    </div>
                </form>
            </section>
        </section>
        <section class="body" id="message">
            <section class="valid-message">
                    <p>login succesful</p>
                    <a href="Dash.html"><button class="close">Close</button></a>
                    <!--<button class="close"><a href="insideacc.html">Close</a></button>-->
            </section>
        </section>
        <script src="../JAVASCRIPT/signin.js"></script>
    </body>
</html>